body {
    background: #221C1C;
    color: whitesmoke;
    font-family: sans-serif;
    padding: 89px;

    @media (width <= 600px) {
        margin: 20px;  
        padding: 0;
    }
}

/* Controls/Buttons to change your theme */
.btns {
    display: flex;
    gap: 8px;
}

.btn {
    display: flex;
    cursor: pointer;
}

/* This looks complicated, but what we are saying is */
/* <body> has an input somewhere inside it that is checked/selected */
/* if the value is ocean, change the varibles to blue */
/* if the value is forest, change the variables to green */
body:has(input[value="light"]:checked) {
    background: #b2b9ea;
    color: black;
    .post {
        .title {
            color: rgb(8, 8, 94);
        }
        .subtitle {
            color: black;
        }
        .date {
            color: black;
        }
        .tag {
            color: black;
        }
    }
}

.page-title {
    font-size: 90px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 49px;

    
    @media (width <= 600px) {
        font-size: 70px;
        padding-bottom: 25px;
    }
}

.post {
    padding-left: 77px;
    padding-bottom: 90px;
    max-width: 425px;

    @media (width <= 600px) {
        padding-left: 0;
    }

    > * {
        padding-bottom: 16px;
    }

    .title {
        font-size: 32px;
        font-weight: 700;
        color: #de1212a5;
    }
    .subtitle {
        font-size: 15px;
        color: #EDDEDE;
    }
    .date {
        font-size: 12px;
        color: #EDDEDE;
    }
    .embed {
       
    }
    .format {
        font-size: 14px;
    }
    .favorite-song {
        font-size: 14px;
    }
    .text {
        font-size: 15px;
        color: #EDDEDE;
    }
    .tags {
        display: flex;
        gap: 8px;
    }
    .tag {
        font-size: 12px;
        color: white;
        text-decoration: underline;
    }
    .stars {
        font-size: 20px;
    }
}
